<!DOCTYPE html>

<html>
<head>
    <title>글 목록</title>
    <meta charset="UTF-8" />
    <style>
    h2 {
        font-size: 2.0em;
        font-family: "NanumGothic";
        color: #666;
    }

    .post_container {
        font-size: 1.0em;
    }

    .post_info {
        font-size: 2.0em;
    }
    
    .post_container .post_info {
        font-size: 0.8em;
    }

    </style>
</head>

<body>

    <div id="post-221" class="post_container">
        <h2>글을 써봤습니다.</h2>

        <div class="post_content">
            <p>안녕하세요.</p>
            <p>실제 글 목록 화면은 아니지만... 그럴싸 하네요</p>
            <p>다음 글에서 또 봐요.</p>
        </div>

        <div class="post_info">
            <div class="post_date">2016년 2월 24일</div>
            <div class="post_category">글 갈래 : Essay</div>
        </div>
    </div>

    <div class="post_info">
        lsk;afjlskjflsj

    </div>

    <div id="post-220" class="post_container">
        <h2>글을 써봤습니다.</h2>

        <div class="post_content">
            <p>안녕하세요.</p>
            <p>실제 글 목록 화면은 아니지만... 그럴싸 하네요</p>
            <p>다음 글에서 또 봐요.</p>
        </div>

        <div class="post_info">
            <div class="post_date">2016년 2월 24일</div>
            <div class="post_category">글 갈래 : Essay</div>
        </div>
    </div>


    <div id="post-219" class="post_container">
        <h2>글을 써봤습니다.</h2>

        <div class="post_content">
            <p>안녕하세요.</p>
            <p>실제 글 목록 화면은 아니지만... 그럴싸 하네요</p>
            <p>다음 글에서 또 봐요.</p>
        </div>

        <div class="post_info">
            <div class="post_date">2016년 2월 24일</div>
            <div class="post_category">글 갈래 : Essay</div>
        </div>
    </div>

    <ul class="page_navigation">
        <li>1</li>
        <li>2</li>
        <li class="current_page">3</li>
        <li>4</li>
        <li>5</li>
    </ul>

</body>

</html>
