<!DOCTYPE html>
<html>

<head>
    <title>게시물 목록</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>

<body class="container">

    {% for post in posts %}
    <div class="post_container">
        <h3><a href="{% url 'view_post' pk=post.pk %}">{{ post.title }}</a></h3>

        <div class="post_content">{{ post.content }}</div>
    </div>
    {% endfor %}

    {% if posts.has_previous %}
    <span><a href="?page={{ posts.previous_page_number }}">이전 쪽</a></span>
    {% endif %}
    <span>{{ posts.number }} / {{ posts.paginator.num_pages }}</span>
    {% if posts.has_next %}
    <span><a href="?page={{ posts.next_page_number }}">다음 쪽</a></span>
    {% endif %}

</body>
</html>
